.DS_Store
# .envrc
.idea
tmp
result
node_modules
bin
*.iml
Generated
dist
dist-newstyle
*.dyn_hi
*.dyn_o
*.hi
*.o
build
gen
del
static/prod.*
Config/client_session_key.aes
notes.txt
ihp-notes.md
# Ignore locally checked out IHP version
IHP

# Upgrade to 1.1.0 from 1.0.1
.devenv*
devenv.local.nix
.direnv
.env

## Ignore apps still in development
Admin
Application
RikaRelief