.Blog {
    color : var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    padding: 20px;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    height : calc(100vh - 0px);
    transition: all .5s;
    text-align: center;
}

.blog-intro{
  font-size: calc(1.3rem + 2vw);
}


/* https://stackoverflow.com/questions/63699559/how-to-make-a-responsive-horizontal-list */
.list-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
  }

  .list-group-item{
    min-width: 200px;
  }