.app-content {
    background: rgb(223, 192, 18);
    min-height : 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height : calc(100vh - 0px);
    transition: all .5s;
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.welcome-header {
    text-align: center;
    margin-top: 60px;
}

.home-logout-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.resource-content-holder{
    position: absolute;
    left: calc(50% - ((85% - 50px)/2));
    top: calc(50% - ((85% - 50px)/2));
    bottom: 100px;
    width: calc(85% - 50px);
    height: calc(85% - 50px);
    padding: 10px;
    background: rgb(17, 240, 110);
}

.rika-resource-menu {
    width: 100%;
    height: 100%;
    background: rgb(102, 137, 209);
    padding: 5px;
}

.rika-resource-main-menu-content{
    background-color: rgb(153, 12, 196);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: calc(100%);
}

.resource-pool-menu-item {
    background-color: rgb(112, 201, 159);
    border: solid var(--text-primary);
    border-radius: 7.5%;
    position: relative;
    height: calc(100% / 2);
    width: calc(100% / 4);
}

.problems-menu-item {
    background-color: coral;
    border: solid var(--text-primary);
    border-radius: 7.5%;
    position: relative;
    height: calc(100% / 2);
    width: calc(100% / 4);
}

.settings-menu-item {
    background-color: rgb(78, 110, 180);
    border: solid var(--text-primary);
    border-radius: 7.5%;
    position: relative;
    height: calc(100% / 2);
    width: calc(100% / 4);
}

.resource-pool-menu-title{
    position: absolute;
    top: 20px;
    left: 20px;
}

.resource-pool-menu-image{
    /* background-color: gold; */
    position: absolute;
    height: 7em;
    right: 20px;
    bottom: 20px;
    /* margin-bottom: 10px;
    margin-right: 10px; */
}

.footerclass {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 1px;
    /* background: rgb(223, 18, 18); */
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerclass img {
    margin-left: 0.5rem;
}
.footerclass a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.footerlogo {
    height: 1.3em;
}