/* .Landing {
    color : var(--text-primary);
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    padding: 20px;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    height : calc(100vh - 0px);
    transition: all .5s;
} */

.Landing {
    color : var(--text-primary);
    background-color: var(--background);
    /* font-size: large; */
    /* font-weight: bold; */
    /* padding: 20px; */
    position:absolute;
    top:0;
    left:0;
    right:0;
    /* max-width:100%; */
    height : calc(100vh - 0px);
    transition: all .5s;
    text-align: center;
}

.ThemeToggle {
    color : var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
}

.LandingLogo {
    color : var(--text-primary);
    /* background-color: green; */
    position:absolute;
    left: 50%;
    margin-left: -200px;
    top: 70px;
    width: 400px;
    height: calc(100vh / 2.5);
    transition: all .5s;
}

.home-nav {
    z-index: 2;
}

/* .LandingImageWrapper {
    background-color: green;
} */
.LogoImage {
    position: absolute;
    display: block;
    max-width: 100%;
    left: 50%;
    margin-left: -100px;
    top: 30px;
    width: 200px;
    height: 200px;
}

.LogoText {
    position: relative;
    text-align: center;
    margin-top: 10px;
    font-size: calc(1.0rem + 2vw);
}

.LogoTextWrapper {
    position: absolute;
    /* background-color: yellow; */
    width: 300px;
    height: 70px;
    bottom: 30px;
    left: 50%;
    margin-left: -150px;
}

.LandingContent {
    /* background-color: aqua; */
    position: absolute;
    width: 100vw;
    height: calc(100vh / 2);
    left:0;
    bottom:0;
}

.LandingMain {
    /* background-color: brown; */
    position: absolute;
    width : calc(100% / 2);
    left : calc(50% - (calc(100% / 4)));
    top: 10px;
    height: calc(100% / 3);
}

.MainLandingText {
    text-align: center;
    font-size: calc(1.2rem + 2vw);
}

.MainLandingSubText {
    text-align: center;
    margin-top: 0;
    /* font-size: 30px; */
}

.InviteWrapper {
    position: absolute;
    /* background-color: crimson; */
    bottom: 120px;
    width : calc(100% / 1.5);
    height: calc(100% / 3);
    left : calc(50% - (calc(100% / 3)));
}

.ParticipateButton {
    position: absolute;
    /* bottom: 10px; */
    width : 200px;
    height: 50px;
    left : calc(50% - calc(200px / 2));
    top : calc(50% - calc(50px / 2));
}